body {
	height:100%;
	width:100%;
}

html {
	height:100%;
	width:100%;
}

.title-txt {
	color: white;
	padding-top: 20px;
	padding-left: 20px;
	font-size: 100px;
	font-family: optima;
}

.welcome-btns {
	float: right;
	margin-right:20px;
	margin-top:20px;
	opacity: 0.9;
}

.btn-default {
	font-size: 20px;
}

.kt-img-background {
	background: url(../img/content/car_splash.jpg) no-repeat;
  	background-size:cover;
  	position: absolute;
	width: 100%;
	height:100%;
}

#reservationTable {
	margin-top: 50px;
}

#commentTextArea {
	margin-top: 50px;
}
